/* colors */

.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background-color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-secondary-bg {
    background-color: $color-secondary;
}

.color-white-1 {
    color: $color-bg-1;
}

.color-bg-1 {
    background-color: $color-bg-1;
}

.color-white-2 {
    color: $color-bg-2;
}

.color-bg-2 {
    background-color: $color-bg-2
}