/* listings section */

/* Mobile-First */

#listings {

    background-color: $color-bg-1;
    padding-top: 50px;

    .search-bar {
        position: relative;
        width: calc(100% - 32px);
        margin-left: 16px;

        input {
            width: 100%;
            padding: 10px;
            border: 5px solid $color-primary;
            border-radius: 20px;
            font-family: $font-roboto-regular;
            color: $color-secondary;
            background-color: $color-bg-1;
            box-sizing: border-box;
            font-size: 20px;
        }

        input::placeholder {
            color: #9B9B9B;
        }

        .search-button {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            height: 30px;
            width: 70px;
            border-radius: 20px;
            color: $color-bg-1;
            background-color: $color-primary;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: calc(100% - 32px);
        margin-left: 16px;
        gap: 20px;
        margin-top: 20px;
    }

    .grid_item {
        background-color: $color-bg-2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0px;

        h3 {
            color: #252525;
        }
    }

    .grid_img {
        width: 290px;
        height: 165px;
        object-fit: cover;
        border-radius: 20px;
    }

    .tag_container {
        display: flex;
        margin-top: 10px;

        p {
            padding: 2px 15px;
            background-color: $color-primary;
            color: $color-bg-1;
            margin: 0px 5px;
            border-radius: 20px;
            font-family: $font-roboto-regular;
        }
    }

}