/* fonts */

$font-mont-bold:"mont-bold", sans-serif;
$font-mont-regular:"mont-regular", sans-serif;
$font-rale-bold:"rale-bold", sans-serif;
$font-roboto-regular:"roboto-regular", sans-serif;

/* Main Colors */

$color-primary: #9A1750;
$color-secondary: #353535;

/* Background Colors */
$color-bg-1: #E3E2DF;
$color-bg-2: #DCDCDC;