@font-face {
  font-family: mont-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: mont-regular;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: rale-bold;
  src: url(../fonts/Raleway-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
  font-display: swap;
}
/* fonts */
/* Main Colors */
/* Background Colors */
* {
  margin: 0;
  padding: 0;
}

button, button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

ul, li {
  list-style: none;
}

input, input:focus {
  border: none;
  outline: none;
}

textarea, textarea:focus {
  border: none;
  outline: none;
}

/* Typagraphy Classes */
/* Fonts */
.font-mont-bold {
  font-family: "mont-bold", sans-serif;
}

.font-mont-regular {
  font-family: "mont-regular", sans-serif;
}

.font-rale-bold {
  font-family: "rale-bold", sans-serif;
}

.font-roboto-regular {
  font-family: "roboto-regular", sans-serif;
}

/* Font Sizes */
/* Mobile First */
.font-size-xl {
  font-size: 60px;
}

.font-size-lg {
  font-size: 35px;
}

.font-size-med {
  font-size: 25px;
}

.font-size-sm {
  font-size: 23px;
}

/* Galaxy Fold */
@media only screen and (max-width: 350px) {
  .font-size-xl {
    font-size: 40px;
  }
  .font-size-lg {
    font-size: 25px;
  }
  .font-size-med {
    font-size: 20px;
  }
  .font-size-sm {
    font-size: 16px;
  }
}
/* Desktop */
@media only screen and (min-width: 1075px) {
  .font-size-xl {
    font-size: 100px;
  }
  .font-size-lg {
    font-size: 75px;
  }
  .font-size-med {
    font-size: 50px;
  }
}
/* colors */
.color-primary {
  color: #9A1750;
}

.color-primary-bg {
  background-color: #9A1750;
}

.color-secondary {
  color: #353535;
}

.color-secondary-bg {
  background-color: #353535;
}

.color-white-1 {
  color: #E3E2DF;
}

.color-bg-1 {
  background-color: #E3E2DF;
}

.color-white-2 {
  color: #DCDCDC;
}

.color-bg-2 {
  background-color: #DCDCDC;
}

.header_main {
  position: relative;
}

.header-img {
  width: 250px;
  height: 250px;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navbar .nav-right {
  justify-self: end;
}

.nav-item a {
  color: #353535;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-out;
  margin-right: 20px;
  font-family: "roboto-regular", sans-serif;
}

.nav-item a:hover {
  color: gray;
}

/* MOBILE MENU & ANIMATION */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #9A1750;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
  z-index: 10;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 900px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }
  /* MOBILE NAVIGATION */
  .header-img {
    width: 100px;
    height: 100px;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 0;
    background-color: #E3E2DF;
    width: 80%;
    height: 100vh;
    transform: translate(-100%);
    text-align: center;
    overflow: hidden;
    z-index: 5;
    transition: transform 0.5s ease-out;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .navbar li a {
    font-size: 30px;
    color: #9A1750;
    font-family: "rale-bold", sans-serif;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
}
/* Hero Section */
/* Mobile-First */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Desktop */
}
#hero .hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .line-height {
  line-height: 65px;
}
#hero .btn {
  margin-top: 50px;
  padding: 15px 25px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  background: radial-gradient(86.59% 86.59% at 50% 50%, #A91958 0%, #65193A 100%);
  transition: transform 0.5s ease;
}
#hero .btn:hover {
  cursor: pointer;
  background: radial-gradient(86.59% 86.59% at 50% 50%, #c91f69 0%, #65193A 100%);
  transform: translateY(-5px);
}
#hero .btn:active {
  cursor: pointer;
  background: radial-gradient(86.59% 86.59% at 50% 50%, #A91958 0%, #65193A 100%);
  transform: translateY(5px);
}
#hero .overlay, #hero .hero_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#hero .overlay {
  background: linear-gradient(179.24deg, rgba(227, 226, 223, 0.63) 0.65%, #E3E2DF 98.35%);
  z-index: -1;
}
#hero .hero_img {
  object-fit: cover;
  z-index: -2;
}
@media only screen and (min-width: 900px) {
  #hero .hero_content {
    flex-direction: row;
  }
  #hero .line-height {
    line-height: 150px;
  }
  #hero .btn {
    padding: 30px 50px;
    margin-left: 200px;
    margin-top: 0px;
  }
}

/* listings section */
/* Mobile-First */
#listings {
  background-color: #E3E2DF;
  padding-top: 50px;
  /* Galaxy Fold */
  /* Desktop */
}
#listings .search-bar {
  position: relative;
  width: calc(100% - 32px);
  margin-left: 16px;
}
#listings .search-bar input {
  width: 100%;
  padding: 10px;
  border: 5px solid #9A1750;
  border-radius: 20px;
  font-family: "roboto-regular", sans-serif;
  color: #353535;
  background-color: #E3E2DF;
  box-sizing: border-box;
  font-size: 20px;
}
#listings .search-bar input::placeholder {
  color: #9B9B9B;
}
#listings .search-bar .search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 70px;
  border-radius: 20px;
  color: #E3E2DF;
  background-color: #9A1750;
  font-family: "rale-bold", sans-serif;
}
#listings .grid {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 32px);
  margin-left: 16px;
  gap: 20px;
  margin-top: 20px;
}
#listings .grid_item {
  background-color: #DCDCDC;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}
#listings .grid_item h2 {
  font-size: 35px;
}
#listings .grid_item h3 {
  color: #252525;
}
#listings .grid_img {
  width: 290px;
  height: 165px;
  object-fit: cover;
  border-radius: 20px;
}
#listings .tag_container {
  display: flex;
  margin-top: 10px;
}
#listings .tag_container p {
  padding: 2px 15px;
  background-color: #9A1750;
  color: #E3E2DF;
  margin: 0px 5px;
  border-radius: 20px;
  font-family: "roboto-regular", sans-serif;
}
@media only screen and (max-width: 350px) {
  #listings .grid_img {
    width: 200px;
    height: 120px;
  }
}
@media only screen and (min-width: 900px) {
  #listings .search-bar {
    width: calc(100% - 140px);
    margin-left: 70px;
  }
  #listings .search-bar input {
    height: 70px;
  }
  #listings .search-bar .search-button {
    height: 45px;
    width: 110px;
    font-size: 23px;
  }
  #listings .grid {
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 160px);
    margin-left: 80px;
    gap: 40px;
  }
  #listings .grid_item {
    flex-direction: row;
  }
  #listings .grid_img {
    width: 40%;
    height: 318px;
  }
  #listings .tag_container {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
